@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@100,200,300,400,500,600,700&family=Roboto:100,200,300,400,500,600,700&display=swap');

/*----Fonts----*/

.bg-dark {
    background-color: #292929!important;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

/*--Home page*/

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    font-weight: 700;
    letter-spacing: 3px;
    position: relative;
    right: 5px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-dark .navbar-brand {
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}

/*--Navigation images 
.NavCards {
  position: relative;
  font-family: 'Roboto'sans-serif;
  height: 400px;
  width: 100%;
}
*/
.image1 {
    background: url('../images/image1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    background-position: center;
}

.image2 {
    background: url('../images/image2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    background-position: center;
}

.image3 {
    background: url('../images/image3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    background-position: center;
}

.imagetext {
    font-weight: lighter;
}

.image-overlay {
    background: rgba(46, 44, 44, 0.479);
    position: absolute;
    bottom: 50%;
    right: 0;
    left: 0;
    text-align: center;
    color: #fff;
}

.salespitch {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.salespitch hr {
    width: 100%;
    border: 1px solid #000000;
}

.salespitch p {
    text-align: center;
}

/*.bg-img {
    background: url('https://i.pinimg.com/originals/1e/af/c4/1eafc4d1dd423d6f046534a62f0f531f.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
}
*/



.xclusiveexperience {
    background-image: url('xclusiveexperience.jpg'); z-index: 10000;
    height: 150px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.experience {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.text-block {
    background-color: rgba(46, 44, 44, 0.479)
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-right: auto;
    margin-left: auto;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    background: #292929;
    color: #fff;
}

.navimagecards {
    padding: 15px 0px 15px 0px;
    min-width: 60%;
    min-height: 70%;
}

.navbody {
    background: #292929;
}

.navbody p {
    color: #fff;
}

.contact {
    align-content: center;
    text-align: center;
}

.footericon {
    color: #fff;
    font-size: 20px;
}

/*Xclsuiveexperience page*/

#video video {
    width: 100%;
}

.experiencetext {
    text-align: center;
}

.videosection {
    padding-left: 15px;
    padding-right: 15px;
}

/* Xclusive Materials Page */

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    text-align: center;
    position: relative;
    left: 35px;
    font-size: 25px;
}

/*about page*/

img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
}

.roundedimg {
    border-radius: 50%;
    position: relative;
    left: 85px;
    padding: 10px 0px 10px 0px;
    width: 200px;
}

.page-direction {
    color: #aaaaaa;
    text-align: center;
}

.page-direction a {
    color: #aaaaaa;
}

.middleimg {
    width: 100%;
}

/*Xclusive Materials page*/

.content-wrapper{
    width: 80%;
    margin: 4% 10% 5% 10%;
}

.content-wrapper img{
    width: 100%;
}

.text-wrapper{
    width: 100%;
    position: relative;
    margin-top: -40%;
}

.text-wrapper h3{
    text-align: center;
    color: #ffffff;
    font-size: 10vw;
}

/* footer */

.footernav a {
    color: #ffffff;
}

.social-links {
    text-align: center;
}
